<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.airk.democollection" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".palette.PaletteActivity" android:label="Palette" />
        <activity android:name=".palette.PaletteColorActivity" android:label="Palette" />

        <activity android:name=".wheeldialog.WheelActivity" android:label="Wheel"/>
        <activity android:name=".materialprogress.MaterialProgressActivity" android:label="ProgressBar" />
        <activity android:name=".rxjava.RxActivity" android:label="RxJava" android:parentActivityName=".ui.HomeActivity" />

        <activity android:name=".hidetoolbar.HideToolbarParent" android:label="HideToolbar"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
            </activity>
        <activity android:name=".hidetoolbar.HideToolbar1" android:theme="@style/AppTheme.NoActionBar"
            android:label="HideToolbar1"
            android:parentActivityName=".hidetoolbar.HideToolbarParent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".hidetoolbar.HideToolbarParent" />
            </activity>
        <activity android:name=".hidetoolbar.HideToolbar2" android:theme="@style/AppTheme.NoActionBar"
            android:label="HideToolbar2"
            android:parentActivityName=".hidetoolbar.HideToolbarParent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".hidetoolbar.HideToolbarParent" />
            </activity>

        <activity android:name=".custommenuitem.MenuItemActivity"
            android:label="CustomMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
            </activity>
    </application>

</manifest>
